html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (min-width: 400px) and (max-width: 600px){
    header {
        display:flex;
        color: royalblue;
        background-color: rgb(255, 229, 180);
    }

    header nav ul li {
        align-self: flex-end;
        text-decoration: underline;
    }

    header p {
        opacity: 0.8;
        text-decoration: underline orchid;
        align-self: center;
    }

    .aside-one h2{
        text-decoration: underline rgb(255, 253, 208);
    }
    .aside-one{
        background-color: rgb(247, 214, 208);
        line-height: 200%;
        text-decoration: underline;
    }

    .aside-two{
        background-color: #FFFBA2;
        line-height: 200%;
        text-decoration: underline;
    }

    .main-content {
        background-color: rgb(247, 231, 206);
        line-height: 220%;
        text-decoration: solid;
    }
}

@media screen and (min-width:601px) and (max-width:801px){
   .aside-one h2{
        text-decoration: underline rgb(255, 253, 208);
    }
    .aside-one{
        background-color: rgb(137, 207, 240);
        line-height: 200%;
        text-decoration: underline;
    }

    .aside-two{
        background-color: #FFFBA2;
        line-height: 200%;
        text-decoration: underline;
    }
}

@media screen and (min-width:802px) and (max-width:1003px){
    .main-content {
        background-color: rgb(247, 231, 206);
        line-height: 220%;
        text-decoration: solid;
    }
}
