h1, p {font-family: monospace, sans-serif;}
h1 {text-align: center;}
body {background-color:#A0ADBA;}

.sol,.log,.git,.htm {font-size: 20px;}
    #unb {color: #FFEAD0;}



.descri {display: inline-block;
    width: 500px;
    margin: 50px;
    border: 1px solid black;
    height: 100px;
    margin-top:90px;
    
       
}
.imagem {   
    display: inline-block;
    vertical-align: middle;
    

}

#dario {
    padding: 10px;
    background-color: #DFFDFF;
    margin-left: 1-px;
    display: inline-block;

}
.lista ul li:nth-child(odd) {
     font-family: monospace;
     list-style:square ;
}
.conhe {
    color:#1E3231;
    font-size: 30px;

}
.certifi {
    color:#1E3231;
    font-size: 30px;
}
.cabe {
    margin-left: 10px;
    font-size: 15px;
}
.cabe a {
    color: darkgreen;
}